.loading {
    width: 200px;
    height: 200px;  
    position: relative;
  }
  
  .loading::before,.loading::after{
    content: '';
    background: #000;
    position: absolute;
    /* left: 100px;
    top:100px;
    transform: translate(-50%,-50%); *//*让定位的盒子走自己的一半*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    animation: scale 2s linear infinite;
  }
  .loading::after{
    animation-delay: 1s;
  }
  
  
  @keyframes scale{
    0%{
      width: 0;height: 0;opacity:1;
    }
    100%{
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }